<!DOCTYPE html>
<html lang="en">
<head>
    <title>About - CS 480x Final</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/timelinestyle.css"/>
</head>
<body>
<form action="https://drive.google.com/file/d/1XXTSnp6-5avM_cMBkNQ-78uAGHj7czQd/view?usp=sharing" method="get" target="_blank"><button type="submit">Video Overview</button></form>
<form action="https://github.com/CamiBrumi/final" method="get" target="_blank"><button type="submit">README</button></form>
<form action="https://drive.google.com/file/d/1VemA8jp3hQkZoHCOATvGlz_yVHrrF08q/view?usp=sharing" method="get" target="_blank"><button type="submit">Process Book</button></form>
</body>
</html>
