<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="/stylesheets/treestyle.css"/>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="/javascript/index.js"></script>
    </head>
    <body onload="init()">
        <h1><%= title %></h1>
        <input id="artistInput" name="artistInput" type="text" placeholder="artist">
        <input id="trackInput" name="trackInput" type="text" placeholder="song">
        <input id="findSimilar" type="submit" value="Find">
        <p id="chart"></p>
        <p id = "treeChart"></p>
        <script src="/javascript/tree.js"></script>
        <script src="/javascript/treeSquare.js"></script>
        <pre id="similarSongs"></pre>
    </body>
</html>
