
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#chart {
  max-width: 100%;
  overflow:auto;
}
text {
  pointer-events: none;
}
.grandparent text {
  font-weight: bold;
}
rect {
  stroke: #EEEEFF;
  stroke-width: 1px;
}
rect.parent,
.grandparent rect {
  stroke-width: 3px;
}
.grandparent:hover rect {
  fill: #B4B8AB;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}
.children rect.child {
  opacity: 0;
}
.children rect.parent {
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  opacity: 0;
}
.legend {
  margin-bottom:8px !important;
}
.legend rect {
  stroke-width: 0px;
}
.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}
.form-group {
  text-align:middle;
}
.textdiv {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  padding: 7px;
  cursor: pointer;
  overflow:none;
}
.textdiv .title {
  font-weight: bold;
  margin-top: 8px;
  font-size:11px !important;
}
.textdiv p{
  line-height: 13px;
  margin:0 0 4px !important;
  padding:0px;
  font-size:10px !important;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}